$MaskColor: #222f3e;
.global-transition {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.mask-hide {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

.ant-card-body {
  padding: 0;
}

.ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.magicParent {
  transform-style: preserve-3d;
}
#magicFront {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s all;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}
#magicBack {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s all;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}

.front {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.ant-picker-calendar-header {
  display: none !important;
}

#magicFront .ant-card-head {
  border: none;
}

// 滚动条
::-webkit-scrollbar {
  width: 6px;
}
// 轨道
::-webkit-scrollbar-track {
  background: white;
}
// 滑块
::-webkit-scrollbar-thumb {
  // border-radius: 10px;
  background: #ecf0f1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bdc3c5;
}
